__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/
data
outputs/
models/
image_segmentation/sample_images_masks_other
image_segmentation/sample_images_other
image_segmentation/sample_images_masks_phasecontrast
image_segmentation/sample_images_phasecontrast

# Archive
archive/

*.xlsx